/* Layout */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color-gray: rgba(0, 0, 0, 0.03);
  --color-dark-gray: rgba(0, 0, 0, 0.3);
  --color-green: rgb(78, 155, 71);
  --radius: 5px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  height: 7vh;
  padding-left: 2rem;
  background-color: var(--color-green);
}

main {
  display: flex;
  height: 100%;
}

#menu-container {
  padding: 2rem 0.5rem 0 2rem;
  width: 15rem;
  background-color: var(--color-gray);
}

.content-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem 5rem;
}

.content-heading {
  margin-bottom: 1rem;
}

.menu-item {
  padding: 7px;
  margin: 5px;
  border-radius: var(--radius);
  cursor: pointer;
}

.task {
  padding: 7px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.103);
}

/* Aesthetics */

li {
  list-style-type: none;
}

.input-task-container {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-dark-gray);
  border-radius: var(--radius);
  width: 100%;
  height: 8rem;
  margin: 7px 0;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.05);
}

.create-task-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.top-input-container {
  display: flex;
  flex-direction: column;
}

.menu-item:hover,
.menu-item.active {
  background-color: var(--color-gray);
}

.text-input {
  margin: 5px 0;
  border: none;
  outline: none;
}

.task-item:hover {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transform: scale(1.01);
}

#task-buttons-container {
  display: flex;
}

#submit-task-creation-button,
#cancel-task-creation-button {
  border-radius: var(--radius);
  height: 2rem;
  cursor: pointer;
}

#submit-task-creation-button {
  background-color: var(--color-green);
  border: none;
  width: 7rem;
  margin-right: 5px;
  color: rgba(0, 0, 0, 0.75);
}

#submit-task-creation-button:disabled {
  background-color: rgb(78, 155, 71, 0.3);
  color: var(--color-dark-gray);
  cursor: not-allowed;
}

#cancel-task-creation-button {
  background-color: white;
  border: 1px solid var(--color-dark-gray);
  width: 4rem;
}

#title-input {
  font-size: 14px;
}

#description-input {
  font-size: 12px;
}

#menu-button {
  padding-top: 3px;
  width: 2rem;
  height: 2rem;
  border: none;
  background: none;
  cursor: pointer;
}

#menu-button:hover {
  border-radius: var(--radius);
  background-color: rgba(0, 0, 0, 0.11);
}

#new-task-button {
  background: none;
  height: 2rem;
  border: none;
  text-align: start;
  padding: 5px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
}

#menu-icon {
  width: 1.25rem;
}

.hidden {
  display: none;
}

hr {
  border: 0.1px solid var(--color-dark-gray);
}
