/* Layout */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color-gray: rgba(0, 0, 0, 0.03);
  --color-green: #4e9b47;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  height: 7vh;
  padding-left: 2rem;
  background-color: var(--color-green);
}

main {
  display: flex;
  height: 100%;
}

#menu-container {
  padding: 2rem 0.5rem 0 2rem;
  width: 15rem;
  background-color: var(--color-gray);
}

#tasks-container {
  margin-top: 1rem;
}

.content-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem 5rem;
}

.menu-item {
  padding: 7px;
  margin: 5px;
  border-radius: 7px;
  cursor: pointer;
}

.task {
  padding: 7px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.103);
}

/* Aesthetics */

li {
  list-style-type: none;
}

.menu-item:hover,
.menu-item.active {
  background-color: var(--color-gray);
}

#menu-button {
  padding-top: 3px;
  width: 2rem;
  height: 2rem;
  border: none;
  background: none;
  cursor: pointer;
}

#menu-button:hover {
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.11);
}

#menu-icon {
  width: 1.25rem;
}

.hidden {
  display: none;
}
